@import '../_constants';

.editable-word-cloud-datacard {
  .editable-ordered-word-cloud > svg {
    text {
      cursor: pointer;
    }
  }
}

.editable-word-cloud-datacard.editing {
 .editable-ordered-word-cloud > svg {
    text.word.left.show{
    	opacity: 1;
    }
    text.word.left.hide{
    	opacity: .2
    }
  }
}

.editable-word-cloud-datacard.editing {
  border: 5px solid $material-orange500;
}


