@import '../_constants';

.ordered-word-cloud {
  svg {
    text {
      cursor: pointer;
    }
    text.word.left.show{
      	opacity: 1;
      }
    text.word.left.hide{
      	opacity: .2
      }
  }
}

.ordered-word-cloud-tooltip {   

}


