@import '../_constants';

#sunburst-explanation {
  position: absolute;
  width: 140px;
  text-align: center;
  color: $material-grey800;
  z-index: 9999;
}

#sunburst-percentage {
  font-size: 30px;
}

#sunburst-name {
  font-size: 14px; 
}
