@import '../_constants';

div.w2v-timespan-container .timespan-selector {
  background-color: $material-grey200;
  padding: 2%;
}

div.w2v-timespan-container .timespan-av {
  background-color: $material-grey200;
  padding: 2%;
}

div.w2v-timespan-container .timespan-av .date-display {
  margin-bottom: 2%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
