@import '../constants';

.app-explorer {

  a {
    color: $explorer-primary;
    :hover {
      cursor: pointer;
    }
  }

  .app-button {
    &.hovering :hover {
      background-color: $explorer-darker !important;
    }
  }

  .app-icon-button {
    &.hovering :hover {
      background-color: $explorer-darker !important;
    }   
  }

  .app-icon-filled-star > svg {
    fill: $explorer-primary;
  }

  #content { 
    padding-bottom: 0px; /* so the results background color connects all the way to the footer */
  }

  #nav-toolbar {
    background-color: $explorer-primary;
    li.explorer {
      border-bottom: 2px solid white;
    }
  }

}
