@import '../constants';

.homepage {

  .search-section {
    margin: 1px auto;
    padding: 40px;
  }
  .search-form {
    height: 250px !important;
    text-align: center;
    .icon-button {
      margin-top: 20px;
    }
  }

  .explorer-home-search-field {
    margin-top: 10px;
    input {
      font-size: 24px !important;
      line-height: 30px !important;
    }
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }

  .masthead {
    height: 185px;
    background-color: $explorer-primary;
    color: $white;
    div {
      margin: 1px 120px;
      padding: 20px;
    }
    h2 {
      margin-top: 30px;
      font-size: 36px;
      font-family: Calluna;
    }
  }

}
