@import '../constants';

.homepage {

  .search-section {
    margin: 1px auto;
    padding: 40px;
  }
  
  .search-form {
    margin: 60px 0px;
    text-align: center;
    .search-icon {
      display: inline-block;
    }
    .explorer-home-search-field {
      width: 410px !important;
      margin-right: 30px;
    }
    .icon-button {
      margin-top: 20px;
    }
  }

  .explorer-home-search-field {
    margin-top: 10px;
    input {
      font-size: 24px !important;
      line-height: 30px !important;
    }
  }

  .masthead {
    background-color: $explorer-primary;
  }

}
