@import '../constants';

.query-form-wrapper {
  margin-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $material-grey200;

  .media-field-wrapper {
    .media-widget {
      padding: 10px;
      border: 1px solid $material-grey200;
      border-bottom: 0px;
      &:last-child {
        border-bottom: 1px solid $material-grey200;
      }
      .icon-button {
        float: right !important;
        margin-top: -17px;
      }
    }
    .add-media {
      border: 1px solid $material-grey200;
      border-top: 0px;
      padding: 10px;
    }
  }
}

.query-form {

  label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    &.inline {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .q-field-wrapper {
    margin-bottom: 15px;
  }
  .color-field-wrapper {
  }
  .media-field-wrapper {
    margin-bottom: 15px;
  }
  .dates-field-wrapper {
    .start-date-wrapper {
      width: 108px !important;
      vertical-align: top;
    }
    .date-for-wrapper {
      padding: 12px;
      display: inline-block;
      border-bottom: 1px solid $material-grey200;
      border-top: 1px solid $material-grey200;
      padding-top: 14px;
      line-height: 22px;
      vertical-align: top;
    }
    .end-date-wrapper {
      width: 108px !important;
      vertical-align: top;
    }
  }

  .query-field {
    border: 1px solid $material-grey200 !important;
    textarea {
      margin: 12px !important;
    }
    input {
      margin-left: 12px !important;
    }
  }

  .query-form-actions-wrapper {
    border-bottom: 1px solid $material-grey200;
    margin-bottom: 30px;

    .query-form-actions {
      float: right;
        .app-button {
          margin-top: 15px !important;
          margin-bottom: 15px;
        }
    }
  }

}
