@import '../_constants';

.story-sentence-preview-item {

  h3 {
    a {
      font-size: 12px;
      font-weight: normal;
    }
  }
  p {
    font-size: 14px;
    font-style: italic;
  }
}

.query-attention-drilldown-title {

}