@import '../_constants';

.query-results-content {
  background-color: $material-grey100 !important;
  padding-bottom: 100px;
}

ul.tab-selector {
  li {
    &.selected {
      color: $explorer-primary;
      border-bottom: 2px solid $explorer-primary;
    }
  }
}
