@import '../_constants';

ul.query-view-selector {
  background-color: $white;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $material-orange500;

  li {
    font-weight: normal;    
    display: inline-block;
    border-bottom: 1px solid $material-orange500;
    font-size: 1.1em;
    padding: 10px 15px;


    &.selected {
      font-weight: bold;
      opacity: 1;
      color: $material-orange500;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

  }

}

.query-view-display {
  background-color: $material-grey100 !important;
}
