@import '../constants';

.query-picker-item {
    border: 1px solid $material-grey200;
    margin: 0 !important;
    padding: 5px 20px !important;
    height: 110px;
    text-align: left;

    query-picker-item-color {
        width: 10px !important;
        height: 10px;
        display: block !important;
        float: right;
    }
}

.query-picker-item-name {
    padding: 5px 20px;
}

.query-picker-item, .query-picker-item-card-header {
    text-align: left;
    padding: 5px 20px;
}
.query-picker-item-selected > div {
    background-color: $material-grey200 !important;
}

.query-field {
    border: 1px solid $material-grey200 !important;
}

