@import '../constants';

.query-picker-save-search-list {
  .icon-button {
    float: right;

.saved-search-controls-wrapper {
  border-right: 1px solid $material-grey200;
  margin-right: 15px;
  display: inline-block;

  .load-saved-search-wrapper,
  .save-search-wrapper {
    display: inline-block;
    margin-right: 15px;
  }

}
