@import '../constants';

.query-picker-save-search-list {
  .icon-button {
    float: right;
    margin-top: -40px;
  }
}
.saved-search-controls-wrapper {
  display: inline-block;

  .load-saved-search-wrapper,
  .save-search-wrapper {
    display: inline-block;
    margin-right: 30px;
  }

}
