@import '../_constants';

.select-media-dialog {
  width: 90% !important;
  .select-media-dialog-content {
    > div {
      background-color: $white !important;
    }
  }

  .select-media-dialog-title {
    font-weight: bold !important;
    text-align: center !important;
    font-family: $font-families !important;
    color: rgb(255,255,255) !important;
  }

  .select-media-dialog-body {
    .select-media-container {
      background-color: $white !important;
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 25px;
      .app-icon {
        width: 50px !important;
        &.app-icon-snapshots > svg {
          height: 30px !important;
        }
        &.app-icon-timespan > svg {
          height: 30px !important;
        }
        &.app-icon-focus > svg {
          height: 30px !important;
        }
      }

      .browse-list {
        .browse-items {
          font-size: 16px !important;
          display: block;
          .content {
            font-size: 12px !important;
            min-height: 100px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          h2 {
            font-size: 16px !important;
          }
          padding-bottom: 10px;
          .app-icon.app-icon-large {
            height:25px;
          }
        }
      }
    }
  }
}
