@import '../constants';

.summarized-viz {

  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid $material-grey300;

  h2 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .summary {
    padding-left: 50px;
    .summary-intro {
      margin-top: 0px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .content {
    padding-right: 50px;
  }

}

