{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    ["transform-replace-object-assign", "simple-assign", "react-hot-loader/babel"],
  ],
  "env": {
    "development": {
      "plugins": [
        ["transform-object-rest-spread"],
        ["react-intl", {
          "messagesDir": "./build/messages/"
        }]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
