{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "plugins": ["react"],
  "rules": {
    "max-len": 0,
    "no-case-declarations": 0,
    "react/jsx-filename-extension": 0,
 }
}