{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "plugins": ["react"],
  "rules": {
    "max-len": 0,
    "no-case-declarations": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 1,
    "no-bitwise": ["error", { "allow": ["~"] }],
    "react/no-danger": 0,
    "react/no-unused-prop-types": 0,
 }
}