{
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "linebreak-style": ["error", "windows"],
    "max-len": 0,
    "no-case-declarations": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-bitwise": ["error", { "allow": ["~"] }],
    "react/no-danger": 0,
    "react/no-unused-prop-types": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
    }],
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "click-events-have-key-events": 0,
 }
}
