.DS_STORE
node_modules
venv
flask_env
*.pyc
build/*.css
build/*.js
build/*.json
logs/*.log
build/messages/*.*
logs/*.log.*
config/server.config
*.log
data/map-files/*.lock
data/map-files/*.gexf
data/map-files/*.json
data/map-files/*.txt
server/static/data/all_topics.json
update_mc_api.sh
env
*.csv
*.gexf
.idea