@import '../../_constants';

div [data-reactroot] { 
  z-index: 10001 !important;
}

.add-media {

  .select-media-dialog-modal {
    width: 90% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 800;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85%;

    .select-media-dialog-inner {

      .select-media-sidebar {
        float: left;
        width: 330px;
        position: fixed;
        border-right: 1px solid $material-grey400;
        height: 100%;

        .select-media-menu {
          .select-media-option {
            padding: 30px;
            border-bottom: 1px solid $material-grey400;
            h3 {
              margin: 0px;
              padding: 0px;
              font-size: 20px;
              font-weight: normal;
            }
            &.selected {
              background-color: $material-grey200 !important;
            }
            &:hover {
              background-color: $material-grey400 !important;
              cursor: pointer;
            }
          }
        }

        .select-media-selected-list {
          padding: 30px;
          max-height: 222px;
          overflow: scroll;
        }

        .select-media-ok-button {
          margin-left: 30px;
        }

      }

      .select-media-content {
        margin-left: 330px;
        padding: 30px;
        min-height: 100%;
        overflow-y: scroll;

        .metadata-detail-search {
          position: relative;
          transform: translate(0, 0) !important;
          z-index: 10009;
        }
        div[type=data-reactroot] { 
          z-index: 10009;
        }

        .select-media-container {
          background-color: $white !important;

          .media-picker-type-instruction {
            margin-top:15px;
            font-size: 16px !important;
          }
          .media-picker-type-button {
            margin-top:-5px;
            font-size: 16px !important;
          }
          .media-picker-search-advanced {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }

      }

    }

  }

  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 799;
    background: rgba(0, 0, 0, 0.6);
  }

}


