@import '../../_constants';

.add-media {

  .select-media-dialog-modal {
    width: 90% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85%;

    .select-media-container {
      background-color: $white !important;
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 25px;

      .media-picker-type-instruction {
        margin-top:15px;
        font-size: 16px !important;
      }
    }

  }

  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.3);
  }

  .select-media-menu-selected > div {
    background-color: $material-grey200 !important;
  }

}


