$primary-color: #222222;
$font-families: Lato, Helvetica, sans;
$body-text-font-families: Lato, Helvetica, sans;

$white: rgb(255,255,255);
$black: rgb(0,0,0);

$tools-primary: rgb(97,97,97);
$tools-darker: rgb(33,33,33);

$sources-primary: #3c97bd;
$sources-darker: #39788e;

$topics-primary: #47c4ac;
$topics-darker: #448e80;

$dashboard-primary: #e14c11;
$explorer-primary: #e14c11;
$explorer-primary: #e14c11;
$explorer-darker: #e14c11;

$material-grey100: rgb(245,245,245);
$material-grey200: rgb(238,238,238);
$material-grey300: rgb(224,224,224);
$material-grey400: rgb(189,189,189);
$material-grey500: rgb(158,158,158);
$material-grey600: rgb(117,117,117);
$material-grey700: rgb(97,97,97);
$material-grey800: rgb(66,66,66);
$material-grey900: rgb(33,33,33);

$material-green500: rgb(139,195,74);
$material-orange500: rgb(255,152,0);
$material-red500: rgb(255,87,34);

$warning-color: rgb(255,152,0);
