$primary-color: #222222;
$font-families: Lato, Helvetica, sans;
$body-text-font-families: Helvetica, sans;
$warning-color: #FF8C00;

$white: rgb(255,255,255);
$black: rgb(0,0,0);

$dashboard-primary: #e14c11;
$sources-primary: #3c97bd;
$topics-primary: #47c4ac;

$material-grey200: rgb(238,238,238);
$material-grey300: rgb(224,224,224);
$material-grey500: rgb(158,158,158);
$material-grey400: rgb(189,189,189);
$material-grey700: rgb(97,97,97);
$material-grey800: rgb(66,66,66);
$material-grey900: rgb(33,33,33);
