.datacard {

  border: 1px solid rgb(242,242,242);
  padding: 20px;
  margin-bottom: 20px;

  .actions {
    float:right;
  }

  h2 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-size: 1.3em;
  }
    
  h3 {
    margin-top: 0em;
    margin-bottom: 0.25em;
    font-size: 1.1em;
  }

}
