@import '_constants';

.visual-timespan-selector {
  
  .xaxis {
    fill: none;
    stroke: rgb(204,204,204);
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: $font-families;
    font-size: 11px;
    stroke: none;
  }

  .timespan {
    fill: rgb(153,153,153);
    fill-opacity: 0.5;
    stroke-width: 1;
    stroke: rgb(255,255,255);
    stroke-opacity: 0.5;
    cursor: pointer;
  }

}