@import '_constants';

body {
  font-family: $font-families;
  font-size: 13px;
  color: $primary-color;
  margin: 0px;
  padding: 0px;
}

a {
  color: #47c4ac;
  text-decoration: none;
}

p.light {
  color: rgb(153,153,153);
}

table {
  padding: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
 	font-weight: bold;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(51, 51, 51);
	position: relative;
	background-color: inherit;
  padding: 5px;
}

table tr.even {
  background-color: rgb(242, 242, 242);
}

table tr.odd {
  background-color: inherit;
}

table td {
  padding: 8px;
  font-size: 13px;
}
