@import '_branding';

$primary-color: #222222;

body {
  font-family: Roboto, Droid Sans, Arial, Helvetica, sans;
  font-size: 13px;
  color: $primary-color;
  margin: 0px;
  padding: 0px;
}

a {
  color: #47c4ac;
  text-decoration: none;
}

@import '_table';
@import '_datacard';
