@import '_branding';
@import '_constants';

body {
  font-family: $font-families;
  font-size: 13px;
  color: $primary-color;
  margin: 0px;
  padding: 0px;
}

a {
  color: #47c4ac;
  text-decoration: none;
}

p.light {
  color: rgb(153,153,153);
}

@import '_controlbar';
@import '_table';
@import '_datacard';
@import '_visual_timespan_selector';
@import '_ordered_word_cloud';
