@import '../constants';

.app-sources {
  a {
    color: $sources-primary;
  }
}

.health-gap {
  color: $warning-color;
}

.healthy {
  color: rgba(0, 153, 0, 0.6);
}

.warning-color {
  color: rgba(255, 0, 0, 0.6);
}