@import '../constants';

.app-sources {
  a {
    color: $sources-primary;
  }

  #nav-toolbar {
    background-color: $sources-primary;
    li.sources {
      border-bottom: 2px solid white;
      padding: 0px 10px 10px 10px;
    }
  }

  .health-gap {
    color: $warning-color;
  }

  .healthy {
    color: rgba(0, 153, 0, 0.6);
  }

  .warning-color {
    color: rgba(255, 0, 0, 0.6);
  }

  .details {
    padding-top: 15px;
  }

  h1 {
    small.subtitle {
      display: inline-block;
      margin-left: 20px;
      color: $sources-primary;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .google-icon {
    padding-left: 10px;
  }

  .fav-toggle-button {
    display: inline-block;
    margin-left: 13px;
    color: $sources-primary;
    fill: $sources-primary;
  }

  div.app-icon.app-icon-filled-star > svg {
    color: $sources-primary;
    fill: $sources-primary;
  }

  .app-header {
    background-color: $sources-primary;
    border-top: 1px solid $sources-darker;
    h1 {
      color: white;
    }
  }


}
