
.collection-list-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}

div.app-icon.app-icon-filled-star {
	width: 12px !important;
	height: 12px !important;
}
