
.collection-form {

  .app-button {
    &.submit-button {
      float:right;
      padding-top: 15px;
    }
  }

  .collection-media-form {

    .collection-copy-confirm {
      margin-top: 10px;
    }

    .collection-media-form-list {
      .app-button {
      }
    }

  }

}