
.featured-collections-wrapper {
  
  .featured-collections-list {

    .featured-collections-item {
      padding-bottom: 50px;

      .content {
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .app-icon.app-icon-large {
        height: 30px;
      }

    }

  }

}
