@import '../_constants';

.source-feed-table {
  margin-top: 20px;
  
  tr {
    &.feed-inactive {
      background-color: $material-grey500;
    }
    &.feed-skipped {
      background-color: $material-grey500;
    }
    &.feed-active {
    }
  }

}
