@import '../constants';

.health-badge {
  display: block;
  float: right;
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 26px;
  color: rgb(255,255,255);
  font-weight: bold;
  margin-top: 40px;

  &.healthy {
  	margin-top: 20px;
  	background-color: rgb(0,102,0);
  }

  &.not-healthy {
  	background-color: $not-healthy;
  }
}
