@import '../_constants';

.source-edit-link {
  margin-right: 15px;
}

div.app-icon.app-icon-large.app-icon-collection {
    padding-left: 5px;
}

.featured-collections {
  margin-bottom: 30px;
}

.masthead {
  background-color: $sources-primary;
}
