@import '../_constants';

.metadata-picker {

  background-color: #ff0000;

  input:focus {
    background-color: $material-orange500 !important;
  }

  &:focus {
    background-color: #fff000;
  }

}

.search-section {
	margin-top: 5px;
	p {
		margin-top: 30px;
	}
}
