@import '../_constants';

.source-details-form,
.source-collection-form,
.source-metadata-form {

  span.label {
    font-size: 16px;
    font-weight: bold;
    &.chip-label {
      line-height: 30px;
    }
    &.field-label {
      line-height: 50px;
    }
    &.unlabeled-field-label {
      display: block;
      padding-top: 15px;
    }
  }

}

.source-collection-form,
.source-metadata-form {
  border-top: 1px solid $material-grey500;
  margin-top: 30px;
  padding-top: 10px;
}