
div.app-icon.app-icon-large.app-icon-collection {
	padding-left: 5px;
}

.ordered-word-cloud {
  svg {
    text {
      pointer-events: none !important;
    }
  }
}

.featured-collections {
  margin-bottom: 30px;
}
