@import '../_constants';
.source-edit-link {
  margin-right: 15px;
}

div.app-icon.app-icon-large.app-icon-collection {
	padding-left: 5px;
}

.ordered-word-cloud {
  svg {
    text {
      pointer-events: none !important;
    }
  }
}

.featured-collections {
  margin-bottom: 30px;
}

.masthead {
    height: 185px;
    background-color: $sources-primary;
    color: $white;
    h2 {
      margin-top: 30px;
      font-size: 36px;
      font-family: Calluna;
    }
}
