@import '../_constants';

.word-labels {
  float: left;
  font-family: $font-families;
  font-size: 20px;
  font-weight: bold;
}

.time-periods {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer !important;
  font-family: $font-families;
  font-size: 14px;
  font-weight: bold;
  color: $material-grey900;

  :hover, .selected {
  	color: $sources-darker;
  	text-decoration: none;
  }
  :hover {
    text-decoration: underline;
  }
}