@import '_base';
@import '../_constants';

@import '_source_list';
@import '_source_collection_list';
@import '_ordered_word_cloud';

.details {
  padding-top: 15px;
}

h1 {

  small.subtitle {
    display: inline-block;
    margin-left: 20px;
    color: $sources-primary;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }

}

.google-icon {
  padding-left: 10px;
}
