[mediacloud]
api_key: YOUR_MEDIACLOUD_API_KEY_HERE

[database]
host = localhost
name = mediacloud-app

[server]
secret_key = A_RANDOM_STRING
mode = DEV
app = sources

[sentry]
dsn = https://<key>:<secret>@app.getsentry.com/<project>

[stmp]
enabled = 0
server = mail.your_server.suffix
port = 22
use_ssl = 1
username = me_the_user
password = my_passowrd

[cliff]
host = http://www.localhost
port = 8080

[services]
word_embeddings_server_url = http://word-embeddings-server-url
