[mediacloud]
api_key: 453e26d5babc0cbf5ab1809f429600b76d5de4a560ab9ba0b75fb8995bebd83f

[database]
host = localhost
name = mediacloud-app

[server]
secret_key = A_RANDOM_STRING
mode = DEV
app = sources

[sentry]
dsn = https://<key>:<secret>@app.getsentry.com/<project>
