@import '../constants';

.app-tools {

  #nav-toolbar {
    background-color: $tools-primary;
  }

  a {
    color: $tools-primary;
  }

  .app-button {
    &.hovering :hover {
      background-color: $tools-darker !important;
    }
  }

  .app-icon-button {
    &.hovering :hover {
      background-color: $tools-darker !important;
    }   
  }

}

