
.action-icon-menu-item {
	line-height: 25px !important;
	min-height: 25px !important;
	width: 200px !important;

	.app-icon.app-icon-download {
		svg {
			margin-left: 7px !important;
		}
	}
}



.chip {
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}
