
.action-icon-menu {
	float: right;
	margin-left: 10px;
}

.action-icon-menu-item {
	line-height: 28px !important;
	min-height: 28px !important;
	margin: 10px !important;
	min-width: 230px !important;

	button {
		margin: 0 !important;
		padding: 0 !important;
	}

	.icon-button {
		position: absolute;
		right: 34px;
	}

}

.action-menu-set {
  display: inline-block;
  float: right;
  .action-icon-menu {
    float: none;
    display: inline-block;
    margin-left: 15px;
  }
}
