
.action-icon-menu {
	float: right;
	margin-left: 10px;
}
.action-icon-menu-item {
	line-height: 28px !important;
	min-height: 28px !important;
	width: 200px !important;

	button {
		margin: 0 !important;
		padding: 0 !important;
	}
	.app-icon.app-icon-download {
		svg {
			margin: 0 !important;
			padding-top: 5px !important;
		}
	}
}

