@import '../_constants';

.app-form {

  span.label {
    font-size: 16px;
    font-weight: bold;
    &.chip-label {
      line-height: 30px;
    }
    &.field-label {
      line-height: 50px;
    }
    &.unlabeled-field-label {
      display: block;
      padding-top: 15px;
    }
  }

  .app-button {
    margin-top: 15px;
  }

  .form-section {
    border-top: 1px solid $material-grey500;
    margin-top: 30px;
    padding-top: 10px;    
  }

  .form-field-checkbox {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .captcha {
    margin-top: 18px;
    margin-bottom: 18px;
  }

}
