@import '../_constants';

#app-notice-list {

  &.app-notice-list-errors {
    background-color: $material-red500;
  }
  &.app-notice-list-warnings {
    background-color: $material-orange500;
  }

  padding-top: 5px;
  padding-bottom: 5px;

  .icon-button {
    float: right;
  }

  .notice {
    background-color: inherit !important;
  }
  
}
