@import '../_constants';

.app-sub-header {
  text-align: center;

  h1 {
    font-family: $font-families;
    font-size: 20px;
    font-weight: bold;
  }

  .sub-title {
    margin: 0px;
    font-family: $font-families;
    color: rgb(255,255,255);
    opacity: 0.5;
  }

  .fav-toggle-button {

    margin-left: 8px;

    button {
      width: 22px !important;
      height: 22px !important;
    }

    .app-icon {
      width: 22px !important;
      height: 22px !important;
    }

    .app-icon-filled-star {
      svg {
        color: rgb(255,255,255) !important;
        fill: rgb(255,255,255) !important;
        width: 18px;
      }
    }

    .app-icon-empty-star {
      svg {
        color: rgb(255,255,255) !important;
        width: 18px;
      }
    }

  }

}
