@import '../_constants';

.datacard {
  .actions {
    a.icon-button-link {
      margin-left: 10px;
      display: inline-block;
    }
  }
}

.icon-button {
  display: inline-block;
  &.icon-button-help {
    margin-left: 8px;
  }
}

.app-icon {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: inline-block;
  font-size: 12px;

  &.app-icon-medium {
    width: 23px;
    height: 23px;
    border-radius: 50%;
  }

  &.app-icon-large {
    height: 50px;
  }

  &.app-icon-download {
    svg {
      margin-top: 6px;
    }
  }

  &.app-icon-explore {
    svg {
      margin-top: 10px;
    }
  }

  &.app-icon-more-options {
    svg {
      margin-top: 10px;
    }
    margin-bottom: 10px;
  }

  &.app-icon-close {
    svg {
      margin-top: 8px;
    }
  }

  &.app-icon-add {
    svg {
      margin-top: 7px;
      margin-left: 1px;
    }
  }

  &.app-icon-settings {
    svg {
      margin-top: 5px;
      margin-left: 0px;
    }
  }

  &.app-icon-delete {
    svg {
      margin-top: 9px;
      path {
        fill: $material-grey600;
      }
    }
    &:hover {
      background-color: #fc521f !important;
      path {
        fill: $material-grey100;
      }
    }
  }

  &.app-icon-remove {
    background-color: $material-grey400;
    svg {
      margin-top: 11px;
    }
    &:hover {
      background-color: #fc521f !important;
    }
  }

  &.app-icon-help {
    background-color: rgba(0, 0, 0, 0.08);
    svg {
      margin-top: 8px;
      margin-left: 1px;
      path, circle {
        fill: black;
      }
    }
  }

  &.app-icon-keyword-search {
    width: 100px;
  }

  &.app-icon-topic {
    width: 40px;
  }

  &.app-icon-story {
    width: 35px;
  }

  &.app-icon-snapshot {
    width: 80px;
  }

  &.app-icon-timespan {
    width: 70px;
  }

  &.app-icon-focus {
    width: 70px;
  }

  &.app-icon-edit {
    svg {
      margin-top: 7px;
    }
  }

  &.app-icon-home {
    svg {
      width: 15px;
      height: 15px;
      padding-top: 5px;
    }
  }

  &.app-icon-filter {
    background-color: $material-grey800 !important;
    width: 45px;
    height: 35px;
    border-radius: 0px;
    padding-top: 10px;
  }

}

h1 {
  .app-icon-media-source {
    width: 40px;
  }
  .app-icon-collection {
    width: 50px;
  }
}

h2 {
  .app-icon-help {
  }
}

.chip {
  .app-icon-collection {
    padding-left: 5px;
    svg {
      padding-top:15px;
    }
  }
  .app-icon-media-source {
    padding-left: 10px;
    svg {
      padding-top:15px;
    }
  }
}
