@import '../_constants';

.app-icon {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: inline-block;

  &.app-icon-download {
    svg {
      margin-top: 6px;
    }
  }

  &.app-icon-explore {
    svg {
      margin-top: 10px;
    }
  }
  
  &.app-icon-help {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: $material-grey400;
    svg {
      margin-top: 4px;
    }
  }

}

h2 {
  .app-icon-help {
  }
}
