@import '../_constants';

.datacard {
  .actions {
    a.icon-button-link {
      margin-left: 10px;
      display: inline-block;
    }
  }
}

.icon-button {
  display: inline-block;
}

.app-icon {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: inline-block;

  &.app-icon-medium {
    width: 23px;
    height: 23px;
    border-radius: 11px;
  }

  &.app-icon-large {
    height: 50px;
  }

  &.app-icon-download {
    svg {
      margin-top: 6px;
      margin-left: 1px;
    }
  }

  &.app-icon-explore {
    svg {
      margin-top: 10px;
    }
  }

  &.app-icon-more-options {
    svg {
      margin-top: 10px;
    }
  }

  &.app-icon-close {
    svg {
      margin-top: 8px;
    }
  }
  
  &.app-icon-add {
    svg {
      margin-top: 7px;
    }
  }

  &.app-icon-settings {
    svg {
      margin-top: 5px;
      margin-left: 0px;
    }
  }

  &.app-icon-delete {
    background-color: $material-grey400;
    svg {
      margin-top: 8px;
    }
    &:hover {
      background-color: #fc521f !important;
    }
  }

  &.app-icon-remove {
    background-color: $material-grey400;
    svg {
      margin-top: 11px;
    }
    &:hover {
      background-color: #fc521f !important;
    }
  }

  &.app-icon-help {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: $material-grey400;
    svg {
      margin-top: 4px;
    }
  }

  &.app-icon-keyword-search {
    width: 100px;
  }

  &.app-icon-topic {
    width: 40px;
  }

  &.app-icon-story {
    width: 35px;
  }

  &.app-icon-media-source {
    width: 40px;
  }

  &.app-icon-collection {
    width: 50px;
  }

  &.app-icon-snapshot {
    width: 80px;
  }

  &.app-icon-timespan {
    width: 70px;
  }

  &.app-icon-focus {
    width: 70px;
  }

  &.app-icon-edit {
    svg {
      margin-top: 7px;
    }
  }

  &.app-icon-filter {
    background-color: $material-grey800 !important;
    width: 45px;
    height: 35px;
    border-radius: 0px;
    padding-top: 10px;
  }

}

h2 {
  .app-icon-help {
  }
}

.chip {
  .app-icon-collection {
    padding-top:30px;
    padding-left: 5px;
  }
}
