@import '../_constants';

body {
  font-family: $font-families;
  font-size: 13px;
  color: $primary-color;
  margin: 0px;
  padding: 0px;
  background-color: $material-grey200;
}

a {
  text-decoration: none;
}

p {
  font-family: $body-text-font-families;
}

h1 {
  margin-top: 40px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  small {
    display: inline-block;
    margin-left: 8px;
    font-weight: normal;
  }
}

td {
  font-family: $body-text-font-families;
}

li {
  font-family: $body-text-font-families;
}

p.light {
  color: $material-grey400;
}

table {
  padding: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
    font-weight: bold;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $material-grey900;
    position: relative;
    background-color: inherit;
  padding: 5px 13px;

  &.numeric {
    text-align: right;
  }
}

table tr:nth-child(even),
table tr.even {
  background-color: $material-grey200;
}

table tr:nth-child(odd),
table tr.odd {
  background-color: inherit;
}

table td {
  padding: 13px;
  font-size: 13px;
  vertical-align: top;

  &.numeric {
    text-align: right;
  }
}

footer {
  background-color: $material-grey200;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid $material-grey300;

  p {
    margin: 0 auto;
    padding: 0;
    color: $material-grey800;
    max-width: 356px;
  }

  a {
    color: $material-grey800;
  }

}

code {
  padding: 10px;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  display: inline-block;
}

#content { 
  min-height: 400px;
  padding-bottom: 30px;
  background-color: $white;

  .notice {
    padding: 10px;
  }

}

.warning {
  color: $warning-color;
}
