@import '../_constants';

#nav-toolbar {
  height: 60px;
  font-family: $font-families;
  color: $white;
  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li.tools, li.blog {
      float: right;
      color: $white;
      margin-top: 10px;
    }
    li.tools {
      margin-right: 30px;
    }
    li.blog {
      border-right: 1px solid white;
      padding-right: 40px;
    }
    li {
      display: block;
      float: left;
      margin-left: 10px;
      margin-top: 10px;
      height: 34px;

      span, a {
        font-size: 14px;
        line-height: 40px;
        text-decoration: none;
        color: $white;
      }
    }
  }
  .user-menu {
    margin-top: 10px;
  }
  .app-logo {
    padding-top: 10px;
    padding-right: 10px;
    float: left;
  }
}

.app-header {
  font-family: $font-families;
  h1 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    color: $white;
    img {
      vertical-align: middle;
      position: relative;
      top: -0.33ex;
      margin-right: 10px;
    }
    a {
      text-decoration: none;
    }
    strong {
      font-weight: 700;
      a {
        color: $white;
      }
    }
  }
  small.app-description {
    text-align: right;
    font-family: $font-families;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    font-size: 18px;
    color: $white;
    opacity: 0.5;
    font-variant: small-caps;
  }
}
