@import '../_constants';

#branding-toolbar {
  height: 40px;
  font-family: $font-families;
  color: $white;
  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
      float: left;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 6px;
      height: 34px;
      a {
        font-size: 14px;
        line-height: 2.1em;
        text-decoration: none;
        color: $white;
      }
    }
    li.tools {
      background-color: $tools-primary;
    }
    li.dashboard {
      background-color: $dashboard-primary;
    }
    li.explorer {
      background-color: $explorer-primary;
    }
    li.sources {
      background-color: $sources-primary;
    }
    li.topics {
      background-color: $topics-primary;
    }
    li.blog {
      a {
        color: $black;
        opacity: 0.5;
      }        
    }
  }
  .user-menu {
    margin-top: 6px;
  }
}

.app-header {
  font-family: $font-families;
  h1 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    color: $white;
    img {
      vertical-align: middle;
      position: relative;
      top: -0.33ex;
      margin-right: 10px;
    }
    a {
      text-decoration: none;
    }
    strong {
      font-weight: 700;
      a {
        color: $white;
      }
    }
  }
  small.app-description {
    text-align: right;
    font-family: $font-families;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    font-size: 18px;
    color: $white;
    opacity: 0.5;
    font-variant: small-caps;
  }
}
