@import '../_constants';

#nav-toolbar {
  height: 60px;
  font-family: $font-families;
  color: $white;

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    &.right {
      float: right;
      li {
        margin-right: 20px;
        &.recent-changes-item, &.user-menu-item {
          margin-right: 0px;
        }
        &.about {
          margin-right: 10px;
        }
      }
    }

    li {
      display: block;
      float: left;
      margin-left: 10px;
      margin-top: 10px;

      span, a {
        font-size: 14px;
        line-height: 40px;
        text-decoration: none;
        color: $white;
      }

    }
  }

  .app-menu {
    button {
      svg {
        margin-left: 8px;
      }
    }
  }

  .app-logo {
    padding-top: 10px;
    padding-right: 10px;
    float: left;
  }

}
