@import '../_constants';

.controlbar {

  .main {
    background-color: $material-grey200;
    border-bottom: 1px solid $material-grey300;

    .left {
      padding-top: 14px;
      
      .app-icon-settings {
        margin-left: 13px;  
      }
      
    }

  }

  .sub {
    background-color: $white;
    border-bottom: 1px solid $material-grey300;
  }

}
