@import '../_constants';

.controlbar {

  .main {
    background-color: $material-grey200;
    border-bottom: 1px solid $material-grey300;

    .icon-button {
      margin-right: 5px;
    }

    .left {
      padding-top: 14px;
      padding-bottom: 15px;
    }

  }

  .sub {
    background-color: $white;
    border-bottom: 1px solid $material-grey300;
  }

}
