.controlbar {

  margin-bottom: 15px;

  .main {
    background-color: rgb(238,238,238); // material grey200
    border-bottom: 1px solid rgb(224,224,224); // material grey300

    .left {
      padding-top: 18px;
      padding-bottom: 18px;
    }

  }

  .sub {
    background-color: #ffffff;
    border-bottom: 1px solid rgb(224,224,224); // material grey300
  }

}
