@import '../_constants';

.datacard {

  border: 1px solid $material-grey300;
  padding: 30px;
  margin-top: 30px;
  border-radius: 4px;
  margin-right: 14px;

  .actions {
    float:right;
  }

  h2 {
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: 1.5em;
  }
    
  h3 {
    margin-top: 0em;
    margin-bottom: 0.25em;
    font-size: 1.1em;
  }

  &.disabled {
    color: $material-grey400;
  }

  &.unbordered {
    border: 0px;
    padding: 0px;
  }

  &.inline {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .notice {
    padding: 10px;
  }

}

.described-data-card {

  .helpful-content {
    margin-top: 35px;
    color: $material-grey400;
    font-style: italic;
  }

} 
