@import '../_constants';

.descriptive-button {

  padding: 20px;
  background-color: $material-grey200;
  border: 1px solid $material-grey400;
  margin-right: 14px;

  .image {
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    margin-right: 20px;
  }

  .app-icon,
  img {
  }

  b {
    font-size: 16px;
    color: rgb(0,0,0);
  }

  p {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 0px;
  }

  &:hover {
    cursor: pointer;
  }

  &.warning {
    background-color: $warning-color;
    p {
      color: rgb(0,0,0);
    }
  }

}
