@import '../_constants';

.descriptive-button {

  padding: 20px;
  background-color: $material-grey200;
  border: 1px solid $material-grey400;
  margin-right: 14px;

  img {
    display: block;
    float: left;
    margin-right: 20px;
  }

  b {
    font-size: 16px;
  }

  p {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 0px;
  }

  &:hover {
    cursor: pointer;
  }

}
