@import '../_constants';

#error-list {

  background-color: $material-grey300;  
  padding-top: 10px;
  padding-bottom: 10px;

  .error-message {
	padding-bottom: 10px;
	font-size: 18px;

	small {
	  color: $material-grey700;
	  font-size: 12px;
	  line-height: 17px;
	  display: block;
	  margin-left: 30px;
	}
  }

}
