@import '../constants';

#app {

  .masthead {
    height: 330px;

    color: $white;

    h2 {
      margin-top: 100px;
      font-size: 55px;
      font-family: Calluna;
    }

    p {
      font-size: 22px;
      font-family: Calluna;
    }

    a.user-guide {
      padding: 10px 35px;
      display: inline-block;
      margin-top: 180px;
      font-size: 20px;
      font-family: Calluna;
      border: 1px solid white;
      color: white;
    }

  }

}
