@import '../_constants';


.header-primary-menu {
  word-wrap: normal;
  line-height: 20px !important;
}

.header-primary-label {
  word-wrap: normal;
  padding-bottom: 25px;

  .header-primary-description {
    line-height: 15px !important;
    font-weight: normal !important;
    word-wrap: normal;
    white-space: normal;
    font-size: 12px;
  }

}
