@import '../_constants';

.notice {

  font-size: 14px;
  
  a {
    color: rgb(0,0,0) !important;
    text-decoration: underline;
  }

  span.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-right: 10px;
  }

  small {
    color: #000000;
    opacity: 0.5;
    margin-bottom: 10px;
    font-size: 10px;
    font-family: $body-text-font-families;
    line-height: 12px;
    display: block;
    margin-left: 35px;
    text-align: left;
  }

  &.info-notice {
    background-color: $material-green500;
  }

  &.warning-notice {
    background-color: $material-orange500;
  }

  &.error-notice {
    background-color: $material-red500;
  }

}

.info-notice > div {
    background-color: $material-green500;
  }

.warning-notice > div {
  background-color: $material-orange500;
}

.error-notice > div {
  background-color: $material-red500;
}