@import '../_constants';

.recent-news-menu {
}

.recent-news-menu-content {
  width: 450px;

  h3 {
    padding: 15px 0px 15px 0px;
    text-align: center;
    margin: 0px;
    font-size: 16px;
    border-bottom: 1px solid $material-grey200;
  }

  .recent-news-menu-items {
    border-bottom: 1px solid $material-grey200;
  }

  .recent-news-menu-link {
    text-align: center;
    padding: 15px 0px 15px 0px;
    background-color: $material-grey100;
    a {
      font-size: 16px;
      color: black;
      text-decoration: underline;
    }
  }

}

.recent-news-menu-item {
  padding: 8px;
  font-size: 16px;
}

.recent-news-menu-item, .recent-news-item {
  .news-type {
    background-color: $material-grey200;
    border-radius: 13px;
    font-size: 12px;
    padding: 3px 10px;
    display: inline-block;
    margin-right: 5px;
    &.news-feature {
      background-color: $material-green500;
    }
  }
}

.recent-news-item {
  font-size: 18px;
  padding: 5px 0px;

  small {
    margin-top: 5px;
    display: block;
    font-size: 14px;
  }

  .item-app-list {
    font-size: 14px;
  }

}

.release-note {
  padding-bottom: 30px;
  margin-top: 20px;

  .release-version {
    background-color: $material-grey200;
    padding: 10px;
    margin-bottom: 10px;

    h2 {
      margin: 0px;
      padding: 0px;
    }

    small {
      float: right;
      padding-top: 10px;
      font-size: 14px;
    }
  }

}