.source-search {
    position: relative;
    .fetching {
        float: right;
        position: absolute;
        right: 2px;
        top: 5px;
    }
  .app-icon-filled-star {
    float: right;
    display: inline-block;
  }
}

.metadata-picker {
    background-color: #ff0000;
}
.metadata-picker:focus {
    background-color: #fff000;
}