@import '../_constants';

div.stat {
  small {
    display: block;
    color: $material-grey900;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  em {
    display: block;
    color: $material-grey900;
    font-size: 28px;
    font-style: normal;
  }
}
