@import '../_constants';

.stat-bar {

  .stat {
    small {
      display: block;
      color: $material-grey900;
      font-size: 12px;
      font-weight: bold;
      padding-bottom: 5px;
      button {
        width: auto !important;
        height: auto !important;
        margin-left: 8px important;
      }
    }
    em {
      display: block;
      color: $material-grey900;
      font-size: 28px;
      font-style: normal;
    }
  }

}
