@import '../_constants';

div.story-switchover {
  
  span.material-icons {
    float: left !important;
    padding-top: 25px;
  }

  p {
    padding: 0px 25px;
  }
  p.title {
    font-weight: bold !important;
    font-size: 23px;
  }

}
