@import '../_constants';

ul.tab-selector {
  background-color: $white;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;

  li {
    font-weight: bold;
    display: inline-block;
    font-size: 1.1em;
    padding: 10px 15px;
    text-transform: uppercase;

    &.selected {
      color: $material-grey900;
      border-bottom: 2px solid $material-grey900;
    }

    &:hover {
      cursor: pointer;
    }

  }

}

.tabbed-content-wrapper {
  background-color: $material-grey100 !important;
  padding-bottom: 100px;
}
