@import '../_constants';

.user-menu {

  a {
    color: $white !important;
    cursor: pointer;
    font-size: 14px;
  }

  button {
    padding: 0px !important;
    width: 38px !important;
    height: 38px !important;
    color: $white !important;
  }

}
