@import '_branding';
@import '_actions';
@import '_controlbar';
@import '_datacard';
@import '_error_try_again';
@import '_loading_spinner';
@import '_app_icon';
@import '_coming_soon';
@import '_statbar';
@import '_login';
@import '_app_form';
@import '_error_list';

#content { 
  min-height: 400px;
  padding-bottom: 30px;
  background-color: $white;
}

.warning {
  color: $warning-color;
}