@import '_branding';
@import '_actions';
@import '_controlbar';
@import '_datacard';
@import '_error_try_again';
@import '_loading_spinner';
@import '_app_icon';
@import '_statbar';
@import '_login';
@import '_app_form';
@import '_app_notice_list';
@import '_collection_list';
@import '_slider';
@import '_browse_list';
@import '_action_icon_menu';
@import '_notice';
@import '_drawer';
@import '_user_menu';
@import '_descriptive_button';
@import '_app_sub_header';
@import '_async_search';
@import '_async_container';
@import '_user_login';
@import '_faq';
@import '_about_page';
@import '_media_picker';

#content { 
  min-height: 400px;
  padding-bottom: 30px;
  background-color: $white;

  .notice {
    padding: 10px;
  }

}

.warning {
  color: $warning-color;
}
