@import '_branding';
@import '_actions';
@import '_controlbar';
@import '_datacard';
@import '_error_try_again';
@import '_loading_spinner';
@import '_app_icon';
@import '_statbar';
@import '_login';
@import '_app_form';
@import '_app_notice_list';
@import '_collection_list';
@import '_slider';
@import '_browse_list';
@import '_action_icon_menu';
@import '_notice';
@import '_drawer';
@import '_user_menu';
@import '_descriptive_button';
@import '_app_header';
@import '_async_search';
@import '_async_container';
@import '_user_login';
@import '_faq';
@import '_document_download';
@import 'mediapicker/_media_picker';
@import '_app_dialog';
@import '_entities';
@import '_metadata_media_type';
@import '_system_stats';
@import '_query_help_dialog';
@import '_masthead';
@import '_recent_news';
@import '_tab_selector';

#content { 
  min-height: 400px;
  padding-bottom: 30px;
  background-color: $white;

  .notice {
    padding: 10px;
  }

}

.warning {
  color: $warning-color;
}
