@import '../constants';

.app-topics {

  a {
    color: $topics-primary;
  }

  .chip.chip-collection {
    div.app-icon.app-icon-large.app-icon-collection {
      svg {
        padding-top: 10px;
      }
    }
  }
  .app-icon-filled-star > svg {
    fill: $topics-primary;
  }

  #nav-toolbar {
    background-color: $topics-primary;
    li.topics {
      border-bottom: 2px solid white;
      padding: 0px 10px 10px 10px;
    }
  }

}

