@import '../constants';

.app-topics {

  a {
    color: $topics-primary;
  }

  .app-icon-filled-star > svg {
    fill: $topics-primary;
  }

  #nav-toolbar {
    background-color: $topics-primary;
    li.topics {
      border-bottom: 2px solid white;
    }
  }

}

