@import '../constants';

.app-topics {

  a {
    color: $topics-primary;
  }

  .app-button {
    &.hovering :hover {
      background-color: $topics-darker !important;
    }
  }

  .app-icon-button {
    &.hovering :hover {
      background-color: $topics-darker !important;
    }  	
  }

  .app-icon-filled-star > svg {
    fill: $topics-primary;
  }

}

