@import '../_constants';

.controlbar {

  &.controlbar-topic {
    background-color: $white !important;

    .jumps {
      font-weight: bold;
      margin-left: 15px;
    }

    .about-topic {
      display: inline-block;
      margin-left: 15px;
    }

    .active-filters{
      float: right;
      display: inline-block;
      margin-top: 5px;
      margin-right: 10px;
    }

    .topic-name {
      display: inline-block;
      float: left;
      margin-top: 7px;
    }

    .main {
      background-color: $white !important;
      min-height: 45px;
      .left {
        vertical-align:middle;
        padding-bottom: 0px;
        padding-top: 10px;
      }
      .right {
        .icon-button {
          float: right;
        }
      }
    }
    .filter {
      background-color: $material-grey800;;
      .filter-selector {

        .snapshot-selector, .focus-selector {
          div {
          }
        }
      }
    }
  
  }

}
