
.create-snapshot {
  .message {
    margin-left: 6px;
    display: inline-block;
    font-weight: bold;
  }
}

.controlbar-topic {

  .create-snapshot {
  	display: inline-block;
    margin-top: 19px;
    float: right;
    padding-right: 15px;
  }

}
