@import '../_constants';

.focal-technique-selector {
  
  margin-bottom: 50px;

  .light {
    margin-top: 30px;
  }

  .focal-technique-description {
    margin-top: 30px;
    margin-right: 20px;

    .focal-technique-icon {
      cursor: pointer;
      position: relative;
      height: 100px;
      background-color: $material-grey300;
      .app-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-color: $topics-primary;
      }
    }

    img {
      cursor: pointer;
    }

    &.disabled {
      img {
        filter: grayscale(100%);
        opacity: 0.25;
        -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
        cursor: default;
      }
      p {
        color: $material-grey400;
      }
    }

    &.selected {
      border-bottom: 4px solid $black;
      background-color: $topics-darker;
      color: white;
      .focal-technique-icon {
        background-color: $topics-primary;
      }
      p {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

  }

}
