@import '../_constants';

.timespan-selector {
  a.greyed {
    color: $material-grey500;
    &:hover {
      border-bottom: 1px dotted;
      color: $topics-primary;
    }
  }
  .center {
    text-align: center;
  }
  .toggle-control {
    float: right;
  }
  .timespan-period-selector {
    a {
      margin-right: 8px;
      &.selected {
        color: $topics-primary;
      }
    }
  }
  svg.visual-timespan-selector {
    g.xaxis {
      path.domain {
        opacity: 0;
      }
    }
  }
}

.controlbar-topic {
  .timespan-selector {
    margin-top: 10px;
    margin-bottom: 10px;
    .timespan-period-selector {
      margin-top: 4px;  
    }
    .center {
      padding-top: 4px;
    }
  }
}

.visual-timespan-selector {
  margin-top: 8px;

  .xaxis {
    fill: none;
    stroke: $material-grey700;
    shape-rendering: crispEdges;
    font-size: 11px;
    stroke: none;

    tick, line, path {
      stroke: $material-grey700;
    }

    text {
      font-family: $font-families;
      stroke: $material-grey700;
    }

  }

  .timespan {
    fill: $material-grey500;
    fill-opacity: 0.5;
    stroke-width: 1;
    stroke: $white;
    stroke-opacity: 0.5;
    cursor: pointer;
    &:hover {
      fill-opacity: 1.0;
      fill: $topics-primary;
    }
  }

}
