@import '../_constants';

.visual-timespan-selector {
  
  .xaxis {
    fill: none;
    stroke: $material-grey700;
    shape-rendering: crispEdges;
    font-size: 11px;
    stroke: none;

    tick, line, path {
      stroke: $material-grey700;
    }

    text {
      font-family: $font-families;
      stroke: $material-grey700;
    }

  }

  .timespan {
    fill: $material-grey500;
    fill-opacity: 0.5;
    stroke-width: 1;
    stroke: $white;
    stroke-opacity: 0.5;
    cursor: pointer;
  }

}

.controlbar-topic {

  .timespan-selector {

    padding-top: 10px;
    padding-bottom: 10px;

    .period-controls a {
      margin-right: 8px;
    }

    .center {
      text-align: center;
    }

    .toggle-control {
      float: right;
      a {
        color: $material-grey500;
      }
    }

  }

}
