@import '../_constants';

.masthead {
    height: 185px;
    background-color: $topics-primary;
    color: $white;
    h2 {
      margin-top: 30px;
      font-size: 36px;
      font-family: Calluna;
    }
  }
