@import '../_constants';

.topic-table {

  tr.topic-state-error {
    .topic-state {
      background-color: $material-red500;
    }
  }

  code {
    padding: 0px;
    background-color: inherit;
  }

  a {
    color: $material-grey900;
    &:hover {
      text-decoration: underline;
    }
  }

}
