@import '../_constants';

.topic-container {

  .topic-warning {
    background-color: $material-orange500;
  }

  .public-topic-summary {
    padding-top: 20px;

    .topic-summary {
      margin-bottom: 20px;
    }

  }

  .helpful-content {
    margin-top: 35px;
    color: $material-grey400;
    font-style: italic;
  }

}
