@import '../_constants';

.topic-list-container {
  margin-top: 20px;

	.topic-preview-list-item {
		padding: 30px;

		div > span {
			font-style: italic;
		}
	}

	.label {
		margin-top: 15px;
		float: right;
	}

	.topic-mini-cards {
		div {
			div {
				border: 1px solid $material-grey300;
			}
		}
	}

	.fav-toggle-button {
		float: right;
		margin-top: -10px;
		.app-icon {
			svg {
			  margin-left: 5px;
			  width: 15px !important;
			  height: 15px !important;
			}
		}
	}

}
