@import '../_constants';

.topic-list-container {
  margin-top: 20px;
}

.topic-browse-items {
	padding: 30px 0;
	padding-bottom: 0;
}

.topic-mini-cards {
	div {
		div {
			border: 1px solid $material-grey300;
		}
	}
}