@import '../_constants';

.topic-info {
  code {
    display: block;
    max-height: 333px;
    overflow: scroll;
    color: $material-grey500;
  }
  .chip {
    display: inline-block !important;
  }
}

.link-map-form {
	.checkbox-top-align {
		margin-top: 30px !important;
	}
}
