@import '../_constants';

.topic-container {

  .app-header {
    background-color: $topics-primary;
    border-top: 1px solid $topics-darker;
  }

  .topic-warning {
    background-color: $material-orange500;
  }

  .public-topic-summary {
    padding-top: 20px;

    .topic-summary {
      margin-bottom: 20px;
    }

  }

  .app-icon-filled-star {
    svg {
      margin-left: 5px;
      width: 15px !important;
      height: 15px !important;
    }
  }

}
