@import '../constants';

.create-topic {
  margin-bottom: 500px;

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.error {
  font-size: 12px !important;
  line-height: 12px !important;
  color: rgb(244, 67, 54) !important;
}
