@import '../_constants';

.topic-info {
  code {
    display: block;
    max-height: 333px;
    overflow: scroll;
    color: $material-grey500;
  }
  .chip {
    display: inline-block !important;
  }
}
